NewsPaper_/NewsPaper_/__pycache__/
NewsPortal_/NewsPaper_/newsapp/__pycache__/
NewsPortal_/NewsPaper_/protect/__pycache__/
NewsPortal_/NewsPaper_/sign/__pycache__/


NewsPortal_/NewsPaper_/NewsPaper_/.env

NewsPortal_/NewsPaper_/.idea/

